// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listreset {
  @extend %listreset;
}

// clearfix
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}
