@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ucqyet");
  src: url("../fonts/icomoon.eot?ucqyet#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ucqyet") format("truetype"),
    url("../fonts/icomoon.woff?ucqyet") format("woff"),
    url("../fonts/icomoon.svg?ucqyet#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.23;
}

#header {
  padding: 26px 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  color: #244d4d;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
}

#header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

#header .menu a {
  font-family: "DM Sans";
  font-size: 16px;
  color: #161616;
  text-transform: capitalize;
}

#header .menu a:hover {
  color: blue;
}

#header .menu li {
  margin: 0 25px;
}

#header .left-holder {
  display: flex;
}

#header .left-holder i {
  font-size: 21px;
  color: #244d4d;
  margin-left: 30px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-section {
  margin-bottom: 140px;
}

.top-section .container {
  display: flex;
}

.top-section .img-box {
  width: 34.3%;
  flex-shrink: 0;
}

.top-section .text-box {
  padding: 80px 18px 18px 100px;
  background: #154444;
  color: #fff;
}

.btn-default {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: 172px;
  font-size: 20px;
  line-height: 1.25;
  color: #154444;
  background: #fff;
  padding: 15px 25px;
}
