header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .container {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $white;
    text-decoration: none;
    font: 500 16px/1.2 $base-font-sans-serif;

    &:hover {
      color: $base-color-1;
    }
  }

  .menu {
    @extend %listreset;
    display: flex;
    align-items: center;

    li {
      padding: 0 22px;
    }
  }
}
